<ng-template #loadingTemplate>
  <div class="flex flex-wrap" *ngFor="let e of [].constructor(5)">
    <div class="skeleton h-32 w-full"></div>
    <div class="skeleton h-4 w-28"></div>
    <div class="skeleton h-4 w-full"></div>
    <div class="skeleton h-4 w-full"></div>
  </div>
</ng-template>

<div class="flex flex-col items-center justify-center" *ngIf="!loading else loadingTemplate">
  <h1 class="text-4xl mb-4">Who are you?</h1>
  <div class="divider">Choose wisely</div>

  <div class="flex flex-wrap justify-center gap-2">
    <user-card [user]="user" *ngFor="let user of users"></user-card>
    <div class="card card-compact w-96 bg-purple-900 shadow-xl">
      <div class="card-body">
        <h2 class="card-title">??????</h2>
        <p>Total books: ??</p>
        <p>Total read: ??</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary" (click)="modal.showModal()">
            Add new
          </button>
        </div>
      </div>
    </div>
  </div>

  <dialog #modal id="create_dialog" class="modal">
    <div class="modal-box">
      <h3 class="font-bold text-lg">Create user</h3>
      <div class="modal-action">
        <form method="dialog">
          <!-- if there is a button in form, it will close the modal -->
          <button class="btn-primary" (click)="modal.close()">Save</button>
          <button class="btn" (click)="modal.close()">Close</button>
        </form>
      </div>
    </div>
  </dialog>

</div>
