<div [formGroup]="userForm" class="flex flex-col">

  <mat-form-field class="">

    <mat-label>Name</mat-label>
    <input
      formControlName="name"
      id="name"
      matInput
      type="text">
    <mat-error *ngIf="userForm.controls['name'].errors?.['required']">
      Name is mandatory
    </mat-error>
  </mat-form-field>

  <mat-form-field class="">

    <mat-label>Surname</mat-label>
    <input
      formControlName="surname"
      id="surname"
      matInput
      type="text">
    <mat-error *ngIf="userForm.controls['surname'].errors?.['required']">
      Surname is mandatory
    </mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="!this._user.id">
    <mat-label>Email</mat-label>
    <input
      formControlName="email"
      id="email"
      matInput
      type="text">
    <mat-error *ngIf="userForm.controls['email'].errors?.['required']"
    >
      Email is mandatory
    </mat-error>
    <mat-error *ngIf="userForm.controls['email'].errors?.['pattern']"
    >
      Must be a valid email
    </mat-error>
  </mat-form-field>


  <button
    (click)="_user.id ? updateUser(_user.id) : createUser()"
    [disabled]="userForm.invalid || saving || !userForm.dirty"
    color="primary"
    class="bg-blue-500 text-white px-4 py-2 rounded"
    mat-raised-button
  >
    <mat-icon>check</mat-icon>
    &nbsp;<span class="hidden md:inline">Save</span>
  </button>
</div>
