<ng-template #loadingTemplate>
  <div class="flex flex-wrap justify-center gap-2">
    <div class="skeleton h-80 w-50" *ngFor="let e of [].constructor(3)"></div>
  </div>
</ng-template>

<div class="mb-3 flex justify-center flex-wrap gap-3">
  <search-box (load)="loadKeyword($event)"></search-box>
  <div class="join" id="by">
    <input *ngFor="let field of ['title', 'author', 'isbn']" (click)="sortField(field)" class="join-item btn btn-square" type="radio" name="by" [value]="field"
           [attr.aria-label]="capitalizeFirstLetter(field)" [checked]="field == 'Title'"/>
  </div>
  <div class="join" id="sort">
    <input *ngFor="let dir of ['ASC', 'DESC']" (click)="sortDir(dir)" class="join-item btn btn-square" type="radio"
           name="sort" [value]="dir"
           [attr.aria-label]="dir" [checked]="dir == 'ASC'"/>
  </div>
  <div class="flex items-center ml-16">
    <span class="label-text">Global library&nbsp;</span>
    <input [(ngModel)]="personalLibrary" type="checkbox" class="toggle toggle-success" checked/>
    <span class="label-text">&nbsp;My library</span>
  </div>
</div>

<div class="flex flex-wrap justify-center gap-2" *ngIf="!loading else loadingTemplate">
  <book-card (edit)="editBook(book.isbn)" (delete)="deleteBook(book.isbn)" [isInLibrary]="isInLibrary(book.isbn)"
             [readCount]="user.books[book.isbn]" [book]="book"
             *ngFor="let book of books" (read)="readThisBook(book.isbn)" (add)="addToLibrary(book.isbn)"></book-card>

  <div class="card card-compact card-bordered border-amber-500 w-50 bg-purple-900 shadow-xl">
    <div class="card-body">
      <h2 class="card-title">A new wonderful journey</h2>
      <h3>Author: An unpredictable mind</h3>
      <p class="italic">Plot: Something you're about to unfold</p>
      <div class="card-actions justify-end">

        <button class="btn btn-primary" (click)="createBook()">
          Add new book
        </button>
      </div>
    </div>
  </div>

</div>
<div class="flex justify-center mt-3 mb-3">
  <div *ngIf="success" class="toast-center justify-center">
    <div class="alert bg-purple-700">
      <span>Operation successful.</span>
    </div>
  </div>

  <div *ngIf="failure" class="toast-center fading-element">
    <div class="alert alert-error">
      <span>Something went wrong.</span>
    </div>
  </div>
</div>




