<ng-template #loadingTemplate>
  <div class="flex flex-wrap justify-center gap-2">
    <div class="skeleton h-80 w-50" *ngFor="let e of [].constructor(3)"></div>
  </div>
</ng-template>

<div class="mb-3 flex justify-center flex-row gap-3">
  <search-box (load)="loadKeyword($event)"></search-box>
  <div class="join" id="by">
    <input (click)="sortField('title')" class="join-item btn btn-square" type="radio" name="by" value="title" aria-label="Title" checked />
    <input (click)="sortField('author')" class="join-item btn btn-square" type="radio" name="by" value="author" aria-label="Author" />
    <input (click)="sortField('isbn')" class="join-item btn btn-square" type="radio" name="by" value="isbn" aria-label="ISBN" />
  </div>
  <div class="join" id="sort">
    <input (click)="sortDir('ASC')" class="join-item btn btn-square" type="radio" name="sort" value="ASC" aria-label="ASC" checked />
    <input (click)="sortDir('DESC')" class="join-item btn btn-square" type="radio" name="sort" value="DESC" aria-label="DESC" />
  </div>
</div>

<div class="flex flex-wrap justify-center gap-2" *ngIf="!loading else loadingTemplate">
  <book-card (edit)="editBook(book.isbn)" (delete)="deleteBook(book.isbn)" [isInLibrary]="isInLibrary(book.isbn)" [readCount]="user.books[book.isbn]" [book]="book"
             *ngFor="let book of books" (read)="readThisBook(book.isbn)" (add)="addToLibrary(book.isbn)"></book-card>

  <div class="card card-compact card-bordered border-amber-500 w-50 bg-purple-900 shadow-xl">
    <div class="card-body">
      <h2 class="card-title">A new wonderful journey</h2>
      <h3>Author: An unpredictable mind</h3>
      <p class="italic">Plot: Something you're about to unfold</p>
      <div class="card-actions justify-end">

        <button class="btn btn-primary" (click)="createBook()">
          Add new book
        </button>
      </div>
    </div>
  </div>

</div>
<div class="flex-row flex justify-center mt-3 mb-3 w-2/4">
    <div *ngIf="true" class="toast-center justify-center fading-element">
      <div class="alert bg-purple-700">
        <span>Operation successful.</span>
      </div>
    </div>

    <div *ngIf="failure" class="toast-center fading-element">
      <div class="alert alert-error">
        <span>Something went wrong.</span>
      </div>
    </div>
</div>




